<li> 
	<p>{{this.id}}. {{workout_name}}</p>

	<button class="change-workout" data-id="{{id}}" data-newworkout="{{completed}}">
		{{#if completed}}Complete Workout!{{else}}Reset Workout{{/if}}
	</button>

	
</li>
