<li> 
	<p>{{this.id}}. {{burger_name}}</p>

	<button class="change-burger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}Eat a Burger!{{else}}Bring burger back{{/if}}
	</button>

	
</li>
